{% extends 'core/base.html' %}

{% block content %}
<div class="card shadow form-registro-card form-registro">
    <div class="card-header bg-primary text-white py-2"><h5 class="m-0">{{ titulo }}</h5></div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <div class="row">
                {% include 'core/partials/form_field.html' with field=form.equipo col="col-md-6" %}
                {% include 'core/partials/form_field.html' with field=form.estado col="col-md-6" %}
            </div>
            <div class="row">
                {% include 'core/partials/form_field.html' with field=form.fecha_programada col="col-md-6" widget="raw" %}
                {% include 'core/partials/form_field.html' with field=form.fecha_ejecutada col="col-md-6" widget="raw" optional=True %}
            </div>
            <div class="row">
                {% include 'core/partials/form_field.html' with field=form.costo col="col-md-4" %}
                {% include 'core/partials/form_field.html' with field=form.tecnico_responsable col="col-md-8" optional=True %}
            </div>
            <div class="row">
                {% include 'core/partials/form_field.html' with field=form.descripcion col="col-12" widget="raw" optional=True %}
            </div>
            <div class="row">
                {% include 'core/partials/form_field.html' with field=form.observaciones col="col-12" widget="raw" optional=True %}
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-success btn-sm"><i class="fas fa-save"></i> Guardar</button>
                <a href="{% url 'preventivos-list' %}" class="btn btn-secondary btn-sm">Cancelar</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
